page-contacts-chat {
	ion-note { 
		font-size: 12px; 
		align-self: flex-start; 
		margin-top: 14px; 
	}
	.owner {
		background-color: yellow;
	}
	.card {
		
	}

	#owner {
		float:left;
		width: 80%
	}
	#guest {
		float:right;
		width: 80%
	}
}
